h1, h2 , h3 {
    text-transform: uppercase;
}

body {
    width: 1024px;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: #1E90FF;
}

section {
    padding: 0 20px;
}

.main-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.contacts:before {
    content: "\1F4E9";
    padding-right: 25px;
}

ul {
    list-style: none; /* Remove default bullets */
}

ul li::before {
    content: "\2B50";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
}

footer {
    width: 100%;
    height: 50px;
    background-color: #1E90FF;
}

.copyright-info {
    float: left;
    margin: 10px;
    vertical-align: middle;
    color: #FFFFFF;
}
